/*common property*/
:root {
    --primary-color: #007bff !important;
    --secondary-color: #90bcea !important;
    --dark-color: #36393b !important;
    --light-color: #edf8ff !important;

    --max-width: 100% !important;
    --navbar-icon-color: #A0AB5C;
    --navbar-background-color: #00000097 !important;
    --background-color: #f8f9f9 !important;

    --main-color-odd: #f8f9f9;
    --main-color-even: #292b2f;

    --footer-bg-color: #3d3d3dc3 !important;
    --footer-text-color: #ffffff !important;

    --copy-right-color: #1a1919;

}

/*body*/
body {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


/* img */
img {
    max-width: 100%;
    height: auto;
    transition: 2s all;
}

img:hover {
    opacity: 0.9;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .8);
}

p {
    text-align: justify;
    margin: 1rem 1rem;
    color: black;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.readme_button {
    width: 50%;
    text-transform: uppercase;
    margin: 1rem auto;
}

.readme_button:hover {
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .6);
}

.head_tag {
    text-align: center;
    background-color: #9c01fc;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-radius: 4%;
    width: 100%;
}

/* NAVBAR */
#navbar_id {
    opacity: .8;
    background-color: var(--navbar-background-color);
}

.nav-link {
    color: white !important;
    border-radius: 15px;

}

.nav-link:hover {
    color: white !important;
    background-color: #d3d3d329;
    border-radius: 15px;
}

#logo_id {
    max-width: 4rem;
    padding-right: .5rem;


}

#logo_href {

    padding: .1rem 2rem;
    color: rgb(255, 255, 255);
}

/*search*/
.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #A29679;
    padding-right: 40px;
    color: #fff;
}

.search-box i {
    color: black !important;

}

.input-search::placeholder {

    color: black;
    font-size: 18px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    width: 300px;
    border-radius: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    border-radius: 15px;
    /*background-color: transparent;*/
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/* HEADER */
header {
    background-image: url('images/design-space-paper-textured-background.jpg');
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    height: 100vh;
    padding-top: 15rem;
}

header h1,
h4 {
    margin-bottom: 2rem;
}

#header_id a {
    border-radius: 8px;
    color: black;
    background-color: #ff7f5078;

}

#header_id a:hover {
    color: white;
    background-color: #AA0000;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 20%);
    transition: all 200ms ease-out;
}


/* FOOTER */
footer {
    min-height: 20rem;
    width: 100%;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
}

#section-footer{
    margin: 20px 0px 0px 0px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(51, 150, 255, 0.505);
}

#googlemapId{
    width: 100%;
    height:13rem;
    padding:5rem;
}

#copy_right {
    background-color: var(--copy-right-color);
}

#social_id{
    position: absolute;
    right: 35px;
    border-radius: 5px;
}
.linkedin:hover{
    border-radius: 5px;
    background-color: #3258e1;
}
.facebook:hover{
    border-radius: 5px;
    background-color: #0025aa;
}
.telegram:hover{
    border-radius: 5px;
    background-color: #237de4;
}
.whatsapp:hover{
    border-radius: 5px;
    background-color: #089138;
}
